@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-slide-up {
      animation: slide-up 0.7s ease-out;
    }
  }

  @layer utilities {
    .animate-slide-right {
      animation: slide-right 0.7s ease-out;
    }
  }
  @layer utilities {
    .animate-slide-left {
      animation: slide-left 0.7s ease-out;
    }
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }